<!-- <app-cabecera></app-cabecera> -->

<!-- <app-listado></app-listado> -->
<!-- <app-fotos></app-fotos> -->

<app-examen></app-examen>





<router-outlet></router-outlet>

<!-- <h1>Clientes</h1>

<button (click)="registrar_cliente()">Registrar cliente</button>
<table width="100%" border="1">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    <tr *ngFor="let data of clientes">
        <td>{{ data.nombres }}</td>
        <td>{{ data.apellidos }}</td>
    </tr>
</table>

<br>
<br>

<button (click)="registrar_trabajador()">Registrar trabajador</button>
<table width="100%" border="1">
    <tr>
        <th>Nombre</th>
        <th>DNI</th>
    </tr>
    <tr *ngFor="let data of trabajadores">
        <td>{{ data.nombre_completo }}</td>
        <td>{{ data.dni }}</td>
    </tr>
</table> -->